
<div class="encabezado">
  <h2 class="title">Listado de Roles</h2>
  <p class="description">Tabla que muestra el Listado de Roles Creados</p>
</div>
<hr class="divisor" />

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of roleData;">
      <td>{{ item.id }}</td>
      <th>{{item.name}}</th>
      <td>{{item.code}}</td>

      <td style="text-align: center;">
        <button class="noStyle" (click)="item.id ? seeRole(item.id) : null">
          <img src="../../../../assets/Icons/Malta/ver_lineal.svg" alt="Clear" />
        </button>
        <button class="noStyle" (click)=" item.id ? editRole(item.id) : null">
          <img src="../../../../assets/Icons/Malta/editar_lineal.svg" alt="Clear" />
        </button>
        <button class="noStyle" (click)="item.id ? deleteRole(item.id) : null">
          <img src="../../../../assets/Icons/Malta/borrar_lineal.svg" alt="Clear" />
        </button>
      </td>
    </tr>
  </tbody>
</table>



