<div class="barra-superior">
  <div style="display: flex;gap: 30px;">
    <div class="logo-aiep">
      <img src="../../../../assets/Img/ShopMasterLogo.png" alt="" width="90" height="50">
    </div>

  </div>

  <div style="display: flex; gap: 10px; justify-content: center">
    <div class="icon-box">
      <img src="../../../../assets/Icons/Malta/notificacion_lineal.svg" alt="" width="32" height="32">
    </div>

    <div class="icon-box" id="user">
      <img src="../../../../assets/Img/usuario.png" alt="" width="32" height="32">
    </div>
    <button class="btn-admision">
      Juan Peres
    </button>
  </div>
</div>
