
.encabezado{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 2rem;
}

.title {
  color: var(--Color-Terciario, #002846);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
}

.description {
  color: rgba(0, 40, 70, 0.50);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
}


.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  gap: 40px;
  width: 100%;
  overflow-x: auto;
}

hr.divisor {
  border-top: 1px solid rgba(0, 40, 70, 0.3);
  margin-bottom: 2.5rem;
  width: 100%;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 10px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.entries {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #024588;
  font-weight: 500;
  font-size: 14px;
}

.entries select {
  padding: 9px 20px;
  border: 1px solid #024588;
  background-color: #faf9f9;
  border-radius: 10px;
}

.search input {
  padding: 9px 20px;
  border: 1px solid #024588;
  border-radius: 10px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.table thead {
  background-color: #024588;
  color: white;
}

.table th,
.table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 0.875rem;
}

.header_accion {
  max-width: 150px;
}

.row:hover {
  background-color: #ebf2f9;
}

.actions {
  gap: 12px;
  white-space: nowrap;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.statusText {
  max-width: 100px;
  padding: 6px 8px;
  border-radius: 16px;
  text-align: center;
  color: #ffffff;
}

.borrador {
  background-color: #e48b26;
}

.vigente {
  background-color: #3a8bdb;
}

.rechazada {
  background-color: #ec231f;
}

.aprobada {
  background-color: #28b82c;
}

.validada {
  background-color: #28b82c;
}

.borrador {
  background-color: #ffa726;
  color: #fff;
}

.pendiente {
  background-color: #3a8bdb;
  color: #fff;
}

.evaluacionLocal {
  background-color: #0921aa;
  color: #ffffff;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultsText {
  color: #002846;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.paginationButton {
  width: 50px;
  height: 50px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
}

.activePage {
  background-color: #4664aa;
  color: white;
}

.inactivePage {
  background-color: #f3f4f4;
}

.nextArrow {
  background-color: #f3f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.arrowIcon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .tableContainer {
    padding: 20px;
  }

  .table th,
  .table td {
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .table th,
  .table td {
    font-size: 12px;
    padding: 6px 8px;
  }

  .entries select {
    width: 70px;
  }

  .search input {
    width: 150px;
  }
}

.input_checkbox {
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: #024588;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  width: 20px;
  display: flex;
  align-items: center;
  padding: 9px 20px 9px 10px;
  gap: 10px;
  height: 50px;
  background: #ffffff;
  mix-blend-mode: normal;
  border-radius: 0px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.actions button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
label {
  margin-bottom: 0px !important;
}



.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.tooltipText {
  font-size: 12px;
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  white-space: nowrap;
}

.tooltipText::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

.tooltipWrapper:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
