// .pos-relative {
//   position: relative;
//   }

//   .pos-absolute {
//   position: absolute;
//   }

//   .flex {
//   display: flex;
//   }

//   .flex-column {
//   flex-direction: column;
//   }

//   .align-items-center {
//   align-items: center;
//   }

//   .flex-wrap {
//   flex-wrap: wrap;
//   }

//   .gap-5 {
//   gap: 5px;
//   }

//   .gap-10 {
//   gap: 10px;
//   }

//   .gap-20 {
//   gap: 20px;
//   }

//   .gap-30 {
//   gap: 30px;
//   }

//   .gap-40 {
//   gap: 40px;
//   }

//   .carril-navegacion {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   padding: 10px 10px 20px;
//   gap: 20px;
//   position: fixed;
//   width: 72px;
//   overflow-x: hidden;
//   // height: 100vh;
//   background: #FFFFFF;
//   border-radius: 0px 0px 10px 0px;
//   justify-content: space-between;
//   transition-duration: 0.2s;
//   transition-timing-function: ease-in-out;
//   overflow: hidden;
//   }

//   .seccion-superior,
//   .seccion-inferior {
//   width: 100%;
//   }

//   .carril-elemento {
//   display: flex;
//   width: 100%;
//   min-width: 300px;
//   overflow-x: hidden;
//   gap: 10px;
//   align-items: center;
//   justify-content: space-between;
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 26px;
//   height: 56px;
//   color: #024588;
//   mix-blend-mode: normal;
//   cursor: pointer;
//   padding: 12px 10px;
//   white-space: nowrap;
//   }

//   .carril-elemento:hover {
//   background: #D7E5F4;
//   border-radius: 10px;
//   }

//   .carril-navegacion .carril-elemento .icon-box {
//   position: relative;
//   width: 52px;
//   background: #FFFFFF;
//   }

//   .carril-navegacion .carril-elemento:hover .icon-box {
//   background: #D7E5F4;
//   border-radius: 10px;
//   }

//   .carril-navegacion #logo-aiep2 {
//   display: none;
//   transition-duration: 0.2s;
//   transition-timing-function: ease-in-out;
//   }

//   .divisor {
//     border-top: 1px solid rgba(0, 40, 70, 0.3);
//     margin: 10px 0;
//     width: 100%;
//   }

.posRelative {
  position: relative;
}

.posAbsolute {
  position: absolute;
}

.flex {
  display: flex;
  align-items: center;
}

.flexColumn {
  flex-direction: column;
}

.alignItemsCenter {
  align-items: center;
}

.flexWrap {
  flex-wrap: wrap;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.gap40 {
  gap: 40px;
}

.carrilNavegacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 20px;
  gap: 20px;
  overflow-x: hidden;
  background: #ffffff;
  border-radius: 0px 0px 10px 0px;
  justify-content: space-between;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  overflow: visible;
  height: 90vh;
  position: fixed;
  border-right: 1px solid #d7e5f4;
  z-index: 1001;
  left: 0;
  width: 280px;
}

.logoImagen {
  padding-left: 1rem;
  text-align: center;
  cursor: pointer;
}

.divisor {
  border: none;
  margin-bottom: 20px;
  border-top: 1px solid rgba(0, 40, 70, 0.3);
}

.seccionSuperior,
.seccionInferior {
  width: 100%;
}

.carrilElemento {
  position: relative;
  display: flex;
  // width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  // height: 56px;
  color: #024588;
  mix-blend-mode: normal;
  cursor: pointer;
  padding: 12px 10px;
  white-space: nowrap;
  margin-bottom: 4px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link,
.fullLink {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}
.active {
  background: #d7e5f4;
  border-radius: 10px;
}

.carrilElemento:hover {
  background: #d7e5f4;
  border-radius: 10px;
}

.carrilNavegacion .carrilElemento .iconBox {
  position: relative;
  width: 52px;
  display: flex;
}

.carrilNavegacion .carrilElemento:hover .iconBox {
  background: #d7e5f4;
  border-radius: 10px;
}

.carrilNavegacion #logoAiep2 {
  display: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.subMenu {
  min-width: 200px;
  display: none;
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #ffffff;
  z-index: 1000 !important;
  border-radius: 0 10px 10px 0;
  box-shadow: 10px 10px 12px 0px rgba(32, 44, 108, 0.05);
}

.carrilElemento:hover .subMenu {
  display: block;
}

.carrilElemento:hover .subMenu {
  display: block;
}

.subElemento {
  padding: 8px 12px;
  border-radius: 10px;
  margin: 10px;
}

.subElemento:hover {
  background-color: #d7e5f4;
}
