

<div class="card">
  <div class="card-body">
    <app-card-create-category (categorySaved)="getCategories()"></app-card-create-category>
  </div>
  <!-- <div class="card-actions">
    <button class="button_style primary">Agregar Categoria
      <img src="iconos/flecha-derecha-border.svg" alt="" width="32px" height="32px"></button>
  </div> -->
</div>

<div class="card mt-2">
  <div class="card-body">
    <app-card-table-category [categoryData]="categoryData"></app-card-table-category>
  </div>
</div>
